---
import Match from "@/components/Match.astro";
import type { RoundTypeSlug } from "@/data/types/matches.types";
import { getMatchesByRoundConference } from "@/data/utils/matches";

interface Props {
  roundName: RoundTypeSlug;
  conference: "AFC" | "NFC";
  colStart: number;
}

const { roundName, conference, colStart = 1 } = Astro.props;
const matches = getMatchesByRoundConference({ roundName, conference });


---

<div class="flex flex-col w-4/5 mx-auto sm:mx-0 sm:w-auto sm:grid grid-cols-12 sm:grid-cols-12 gap-x-3.5 gap-y-3">
  {
    matches.map((match, index) => {
      const matchColStart = colStart + (index * 4)
      const matchColEnd = matchColStart + 4
      return (
        <Match
          roundName={roundName}
          matchId={match.id}
          team1Id={match.team1} team2Id={match.team2}
          conference={conference}
          winner={match.winner}
          colStart={matchColStart}
          colEnd={matchColEnd}
        />
      )
    })
  }
</div>
