---
import Team from "@/components/Team.astro";

interface Props {
  class?: string;
  team1Id: string;
  team2Id: string;
  colStart: number;
  colEnd: number;
  conference: "AFC" | "NFC";
}

const { team1Id, team2Id, conference, class: className, colStart, colEnd } = Astro.props;
---

<article
  class:list={[
    "relative",
    "grid",
    "grid-cols-2",
    "gap-x-1",
    "text-white",
    "rounded-lg",
    "border-2",
    "border-white",
    "bg-cover",
    "drop-shadow-lg",
    "backdrop-blur-2xl",
    "overflow-hidden",
    className,
  ]}
  style=`background-image: url('/noise.png'); grid-column: ${colStart} / ${colEnd} `
>
  <div class="absolute -z-10 inset-0 bg-gradient-to-b from-[#3E2F6E]/50 to-primary2/30"></div>
  <Team teamId={team1Id} conference={conference} />
  <Team teamId={team2Id} conference={conference} />
</article>
